# Kernel build unit, must be a USER service (~/.config/systemd/user/...)
#
# Place the files required for building the kernel in ~/build/kernel_acer/

[Unit]
Description=Acer kernel compilation

[Service]
Type=simple
ExecStart=%h/build/kernel_acer/builder.sh

# Local Variables:
# mode: conf
# End:
